html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #c4c4c4
}
#accordion-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}
.panel {
    flex-basis: 1vw;
    flex-grow: 1;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 1;
    overflow: hidden;
    transition: flex-grow 1s ease-in-out, opacity .5s ease-in, width 1s ease-in;
    cursor: pointer;
}
.panel:hover {
    flex-grow: 1.05
}

.panel.active {
    flex-grow: 6;
}
.panel.shrink {
    flex-grow: 0;
    opacity: 0;
    width: 0
}
.panel.hide {
    display: none;
    visibility: hidden;
}
.title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    z-index: 0;
    color: white;
    font-size: larger;
}
img {
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 100%;

}
.summary {
    padding: 4rem;  
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    z-index: 0;
    color: white;
    opacity: 0;
    width: 50vw;
    
}
.active>.title {
    grid-row: 1 / 2;

}

.active>.summary {
    opacity: 1;
    transition: opacity 1s ease-in;
}
